* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

:root {
    --text-color: #fff;
    --bg-color: #000;
}